/mysql/nbproject/private/
/AppPedidoCopan/nbproject/private/
/AppPedidoCopan/build/
/AppCopanPedido/nbproject/private/
/AppPedidoCopan/dist/
/reloj/nbproject/private/
/DigitalClock/nbproject/private/
/DigitalClock/build/